
.about-text {
    background-color:  rgb(45, 133, 204, .3);
    height: 250px;
}

.aboutInfo {
    line-height: 40px;
    padding-left: 70px;
}

.aboutTitle {
    padding-top: 30px;
    padding-left: 70px;
}


