.profileLayout{
    /*display: grid;
    grid-template-columns: repeat(3, auto);*/
    display: flex;
    list-style: none;
    font-family: Inter;
    border-bottom: 1px solid;
    height: 250px;
    border-color: hsl(212, 92%, 61%, 25%);
    margin-left: 20px;
    margin-right: 20px;

    
}

.divIcon{
    position: relative;
    padding-top: 20px;
    
}

.profileImg{
    position: relative;
   
}

.cameraIcon{
    position: absolute;
    left: 30%;
    top: 70%;
    
}

.profileInfo{
    font-size: 20px;
    padding-top: 50px;
    padding-right: 5px;
}

.buttons{
    padding-top: 70px;
     
}

.postBtn{
    width: 200px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: rgb(45, 133, 204);
    border-radius: 6px;
    margin-right: 20px;
    border: none;
   

}

.editBtn{
    width: 200px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: rgb(45, 133, 204);
    border-radius: 6px;
    border: none;
}



