.profileLayout{
    display: flex;
    list-style: none;
    font-family: Inter;
    border-bottom: 1px solid;
    height: 250px;
    border-color: hsl(212, 92%, 61%, 25%);
    align-items: center;
     
}

.infoContainer{   
    height: fit-content; 
}

.profilList{
column-count: 2;
column-gap: 80px;
}



.divIcon{
    padding-top: 20px; 
    
}

.profileImg{
    
}

.cameraIcon{
    position: absolute;
    right: 30%;
    top: 37%; 
    
}

.profileInfo{
   
}

.container{
    margin-left: 550px;
    
}

.buttons{
    display: flex;

   
}

#EditProfile {
    margin-left:30px;
}
.profilBtn{
    background-color: rgb(255, 255, 255);
    width: 200px;
    padding: 10px;
    font-size: 18px;
    text-align: left;
    border-radius: 40px;
    margin-top: 25px;

}

.raiting{
    color: rgb(244, 116, 44, 100%);
    padding-left: 270px;

    
}





