.profileLayout {
    display: flex;
    list-style: none;
    font-family: Inter;
    border-bottom: 1px solid;
    height: 250px;
    border-color: hsl(212, 92%, 61%, 25%);
    align-items: center;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .profilList {
    column-count: 2;
    column-gap: 80px;
    margin-top: 1em;
    margin-top: 0ch;
    line-height: 3px;
    padding-left: 100px;
  }
  
  #breakitem {
    padding-top: 18px;
  }
  
  .divIcon {
    padding-top: 20px;
  }
  
  .profiletext {
    border: 1px solid;
    border-color: hsl(212, 92%, 61%, 25%);
  }
  
  .profileImg {
  }
  
  .cameraIcon {
    position: absolute;
    right: 30%;
    top: 37%;
  }
  
  .profileInfo {
  }
  
  .container {
    margin-left: auto;
    
  }
  
  .buttons {
    display: flex;
  }
  
  #EditProfile {
    margin-left: 30px;
  }
  .profilBtn {
    background-color: rgb(255, 255, 255);
    width: 200px;
    padding: 10px;
    font-size: 18px;
    text-align: left;
    border-radius: 40px;
    margin-top: 25px;
  }
  
  .raiting {
    color: rgb(244, 116, 44, 100%);
    padding-left: 270px;
  }
  
  .group {
    display: flex;
  }

  .formdiv{
    z-index: 100;
  }
 
  input[type="university"],
  input[type="country"] {
    padding: 15px;
    width: 300px;
    margin-top: 15px;
  }

  input[type="phonenumber"] {
    padding: 15px;
    width: 200px;
    margin-top: 15px;

  }
  
  input[type="firstname"] {
    width: 150px;
    padding: 15px;
    margin-right: 15px;
  }
  
  input [type="lastname"] {
    padding: 15px;
    width: 150px;
  }
  
  input[type="address"] {
    padding: 15px;
    width: 500px;
    margin-top: 15px;
  }
  
  input[type="postcode"] {
    padding: 15px;
    width: 150px;
    margin-top: 15px;
  }
  
  input[type="city"] {
    width: 400px;
    padding: 15px;
    margin-top: 15px;
    margin-right: 15px;
  }
  
  #editHeader {
    text-decoration: underline;
  }
  
  #confirmBtn {
    margin-top: 15px;
  }