.logo {
    color: black;
}

.divLogo {

}

.search-div {
    display: flex;
}

.search {
    width: 300px;
}

.Topbar{
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logoLink {
 text-decoration: none;
}

.topbar-menu {
    display: grid;
    grid-template-columns: repeat(3,auto);
    list-style: none;
    grid-gap: 10px;
    margin-right: 2rem;
    color: black;
    text-decoration: none; 
}


.topbar-links {
    color: black;
    text-decoration: none;
}

.iconImg {
    height: 30px;
    width: 30px;
}


#favorit{
    color: rgb(244, 116,44, 100%);
}