.logo {
    color: white;
}

.Topbar{
    background-color: rgb(45, 133, 204);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

container {
    align-items: flex;
}


.topbar-menu {
    display: grid;
    grid-template-columns: repeat(3,auto);
    list-style: none;
    grid-gap: 10px;
    justify-content: end;
    text-align: center;
    margin-right: 2rem;
}

.topbar-links {
    color: black;
    text-decoration: none;
}

