
.createProducts {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
}
.createProducts-input{
  border-color:#4094F7;
  border-width: 4vh;
  border-style: solid;
}
.requireMark {
  font-size: calc(6px + 2vmin);
  color: red;
}
.leftCreateProducts {
  width: 80vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.rightCreateProducts {
  width: 80vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.creaProdPreviewImg{
  width:40vh;
  align-items: center;
  max-height: 50vh;
  padding: 2vh;
}
.gridCreateProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 40vh;
  padding-top: 2vh;
}
.gridItem {
  width: 20vh; 
  height: 10;
}

#creaProdTitleInput {
  width: 36vh;
}
#creaProdUniInput {
  width:36vh;
}
#creaProdPubInput {
  width: 36vh;
}
#creaProdAuthInput {
  width: 36vh;
}
#creaProdDescInput {
  font-family: Arial, Helvetica, sans-serif;
  width: 40vh;
  height: 10vh;
}
#creaProdImageInput {
  border: 0ch;
  padding: 2vh;
}


input{
  width: 15vh;
  border-color:#4094F7;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}
select{
  width: 15vh;
  border-color:#4094F7;
  background-color: white;
  border-width: 3px;
  border-style:solid;
  border-radius: 5px;
}
label{
  display: inline-block;
  padding-top: 2vh;
  align-self: flex-start;
}
button{
  margin-top: 2vh;
  min-width: 10px;
  max-width: 100px;
  width: 20%;
}