.profileMenuDiv {
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: hsl(212, 92%, 61%, 25%);
    margin: 20px;  
    max-width: 90em
    
}


.profil-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    list-style: none;
    grid-gap: 50px;
   

}

.profile-links {
    color: grey;
    text-decoration: none;
}

 .profile-links:hover {
    text-decoration: underline;
    color:  rgb(45, 133, 204)
}

.logoutBtn{
    border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer; 
  border-radius: 5px; 
  margin-top: 1vh;
  border-radius: 40px;
  border: 1px solid rgb(244, 116,44, 100%);;
color: rgb(244, 116,44, 100%);;
background-color: white;
width: 100px;
margin-right: 50px;
   
    /* color: white;
    width: 200px;
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    font-family: Inter;
    background-color:rgb(244, 116,44, 100%);
    border-color: rgb(244, 116,44, 100%);
    margin-right: 50px;
    margin-bottom: 30px; */
  
  }
  
  .logoutBtn:hover{
    background-color: rgb(252, 244, 239);;
    transition: 0.7s;
    color: rgb(244, 116,44, 100%);;
    /* background-color: rgb(212, 102, 39);
    transition: 0.7s; */
    
  }