
.favorit-container {
    padding-top: 30px;

}
.button1 {
    position: relative;
}

.favoritBtn {
    color: rgb(244, 116,44, 100%);
    position: absolut;
    right: 0;
    ;

}

.card-content {
    margin-bottom: -20px;
}


