.productContainer {
    display: flex;
    justify-content: left;
    margin-left: 5px;
    margin-right: 10%;
}

.productCardView {

}

.productImageDiv {
    display: flex;
    justify-content: Center;
}

.productUni {
    float: right;
}


