
 .card-item {
    border: 1px solid;
    border-color: hsl(212, 92%, 61%, 25%);

}

.favoriteBtn {
    color: rgb(244, 116,44, 100%);

}
.item-image {
    height: 300px;
   display: block;
   margin-left: auto;
   margin-right: auto;

}

.bookEditBtn {
    position: relative;
    width:40px;
    z-index: 1;
}


.deleteBtn {
    position: relative;
    width:40px;
    z-index: 1;
}

.icon-div{
    position: relative;
    z-index: 1;
}

.myPost-container {
    height: 500px;
}

input[type="title"], input[type="university"], input[type="publisher"], input[type="author"] {
    width: 400px;
    padding: 15px;
    margin-top: 15px;
}

input[type="price"], input[type="cond"], input[type="lang"], input[type="topic"] {
    width: 200px;
    padding: 15px;
    margin-top: 15px;
    margin-right: 15px;
}

input [type="price"] {
    width: 200px;
}

input[type="discription"] {
    width: 400px;
    height: 200px;

}