
 .card-item {
    border: 1px solid;
    border-color: hsl(212, 92%, 61%, 25%);

}

.favoriteBtn {
    color: rgb(244, 116,44, 100%);

}
.item-image {
    height: 300px;
   display: block;
   margin-left: auto;
   margin-right: auto;

}

.bookEditBtn {
    width:40px;
}
.deleteBtn {
    width:40px;
}

/* .content {
    padding-left: 20px;
    padding-right: 20px;
} */

.icon-div{
    position: relative;
}