.tra{
    text-align: justify;
    text-align-last: center;
    margin: 0 auto;
    width: 45em;
  }

.listtag{

    font-weight: bold;
    font-style: italic;
}

.header1{
  margin-top: 50px;
}

.tradeCon {
  margin-top: 50px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

    